/*.div_box-page {
  
    justify-content: center;
    text-align: center !important;
    display: flex;
    justify-content: space-between;
}*/
/*
.MuiGrid-container {
    width: 100%;
    display: flex;

    justify-content: space-around;
    box-sizing: border-box;
}*/

    .logoMateify {
        content: url('./images/LogoSoloBlancoFondoTransparente\ 1.png');
        width: 50px;
        height: 50px;
        margin-left: 560px;
        margin-top: 50px;
        position: relative;
      }

      .nameTitle {
          position: absolute;
          color: white;
          font-size: 50px;
          text-shadow: 5px 10px rgb(192, 26, 192);
      }