/*.div_box-page {
  
    justify-content: center;
    text-align: center !important;
    display: flex;
    justify-content: space-between;
}*/
/*
.MuiGrid-container {
    width: 100%;
    display: flex;

    justify-content: space-around;
    box-sizing: border-box;
}*/